<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="icon" type="image/png" href="/images/products/favicon.png" />
    <!--[if IE]><link rel="shortcut icon" type="image/x-icon"href="favicon.ico" /><![endif]--> <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css" /></noscript>

        <title>{% block title %}Administration{% endblock %}</title>
        {% block stylesheets %}

        <!-- Font Awesome Icons -->
  <link href="/themes/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="/themes/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Theme CSS - Includes Bootstrap -->
  <link href="/themes/css/creative.min.css" rel="stylesheet">

        {% endblock %}
    </head>
    <body id="page-top">

        <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="{{path('accueil-admin')}}"><i class="fas fa-home"></i></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{path('admin-transcash')}}">CODES TRANSCASH</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{path('admin-neosurf')}}">CODES NEOSURF</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{path('admin-pcs')}}">CODES PCS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{path('admin-cashlib')}}">CODES CASHLIB</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{path('admin-toneofirst')}}">CODES TONEOFIRST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{path('admin-recharges')}}">CARTES BANCAIRES</a>
          </li>
          <li class="nav-item">
            <a title="Deconnexion" class="nav-link js-scroll-trigger" href="{{ path('logout') }}"><i class="fas fa-power-off"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


        <div class="container-div">
        {% block body %}{% endblock %}
        </div>



        <!-- Footer -->
  <footer class="bg-light py-5">
    <div class="container">
      <div class=" col-md-12 small text-center text-muted">Copyright &copy; 2020 - Administration statut-secured</div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/themes/vendor/jquery/jquery.min.js"></script>
  <script src="/themes/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/themes/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/themes/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/themes/js/creative.min.js"></script>



       


        {% block javascripts %}{% endblock %}
    </body>
</html>
